=semantic_form_for [@disciplina] do |form|
   
   =form.input :nomedisciplina, :label => 'NomeDisciplina'
   =form.input :sigla, :label => 'Sigla'
   =form.input :cargahoraria, :label => 'CargaHoraria'
   =form.input :periodo, :label => 'Periodo'
   =form.submit 'Salvar'
