<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @tipotelefone.descricao %>
</p>


<%= link_to 'Editar', edit_tipotelefone_path(@tipotelefone) %> |
<%= link_to 'Voltar', tipotelefones_path %>
