=semantic_form_for [@aluno] do |form|
   
   =form.input :matricula, :label => 'Matricula'
   =form.input :nomealuno, :label => 'NomeAluno'
   =form.input :sexo, :label => 'Sexo'
   =form.submit 'Salvar'
