= semantic_form_for [@turmi] do |form|
  
   = form.input :aluno, :member_label => :nomealuno, :label => 'Aluno' 
   = form.input :disciplinaprofessor, :member_label => :ano, :label => 'Disciplinaprofessor' 
   = form.submit 'Salvar'
